{:paths ["src" "test"]
 :tasks
 {test
  {:task (do (require 'clojure.test
                       'kotoba.turn.sha1-test
                       'kotoba.turn.credential-test
                       'kotoba.turn.stun-test)
             (let [r (clojure.test/run-tests 'kotoba.turn.sha1-test
                                              'kotoba.turn.credential-test
                                              'kotoba.turn.stun-test)]
               (when (pos? (+ (:fail r) (:error r))) (System/exit 1))))}}}
